<div class="container fuil">
	<div>
		<h1 class="text-center">Process Sale Interface</h1>
		<br><br>

		<form class="form-horizontal">

			<div class="col-md-4"></div>
			<div class="form-group">
				<label for="itemId" class="col-md-1">Item Id:</label>
				<div class="col-md-3"> <input id="itemId" type="text" autofocus required class=" form-control" [(ngModel)]="itemId"> </div>
			</div>

			<div class="col-md-4"></div>
			<div class="form-group">
				<label for="q" class="col-md-1">Quantity:</label>
				<div class="col-md-3"> <input id="q" type="number" required class="form-control" [(ngModel)]="quantity"> </div>
			</div>

			<button (click)="addItem()" class="btn btn-lg btn-primary center-block">Add Item</button>
		</form>

		<button type="submit" class="btn btn-lg btn-success" (click)="makeNewSale()">New Sale</button>	
	</div>

	<div class="table-responsive">
		<table class="table table-hover table-striped">
		<thead *ngIf="sale.db.length>0">
			<tr class="info">
				<th>SL.No</th>
				<td>Item Name</td>
				<td>Unit Price</td>
				<td>Quantity</td>
				<td>Sub Total</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#i of sale.db;#index=index">
				<th>{{ index+1 }}</th>
				<td>{{ i.ps.name }}</td>
				<td>{{ i.ps.getPrice() }}</td>
				<td>{{ i.quantity }}</td>
				<td>{{ i.getSubTotal() }}</td>
			</tr>
			<tr *ngIf="sale.db.length>0">
				<th></th>
				<td></td>
				<td></td>
				<td class="success"><b>Total:</b></td>
				<td>{{ sale.getTotal() }}</td>
			</tr>
			<tr *ngIf="sale.db.length>0">
				<th></th>
				<td></td>
				<td></td>
				<td class="success"><b>VAT:</b></td>
				<td>{{ sale.getVatAmount() }}</td>
			</tr>
			<tr *ngIf="sale.db.length>0">
				<th></th>
				<td></td>
				<td></td>
				<td class="success"><b>Grand Total:</b></td>
				<td>{{ sale.getGrandTotal() }}</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>